<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category Update Successful</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <h1>Category Update Successful!</h1>
    <p>The category has been updated successfully 😎</p>
    <a href="/category/list"> <button>Back to Category List</button></a>
  </body>
</html>
