

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Created</title>
</head>
<body>
    <h1>Category successfully created!</h1>
    <p>Category "<%= categoryName %>" has been created and saved to the successfully to the database :)</p>
    <a href="/">Go back to Home</a>
</body>
</html>
