body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #444;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

section {
  padding: 20px;
}

h1 {
  padding: 8px 0 8px 8px;
  color: #333;
  background-color: rgb(90, 240, 198);
}

form {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#category-form {
  max-width: 50em;
  margin: 0 auto;
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #ddd;
  font-size: 2em;
}

input {
  width: calc(50% - 12px);
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 2em;
}

textarea {
  width: calc(100% - 12px);
  height: 150px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5em;
}

#save-btn {
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: black;
  color: #fff;
}

#save-btn:hover {
  background-color: rgb(90, 240, 198);
  color: #333;
}

#reset-btn {
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: black;
  color: #fff;
}

#reset-btn:hover {
  background-color: darkgray;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
